@import "tailwindcss";

:root {
  font-family: 'KOMethlama' !important;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

@font-face {
  font-family: 'KOMethlama';
  src: url('./fonts/KOOkies-Bold.otf');
}